<p-toolbar>
  <div class="p-toolbar-group-left">
    <app-title [title]="textTemplate.title"></app-title>
    <app-link
      [text]="textTemplate['dictionaryapi.dev']"
      [url]="'https://dictionaryapi.dev'"
    ></app-link>
    <app-link
      [text]="textTemplate['randomwordgenerator.com']"
      [url]="'https://randomwordgenerator.com'"
    ></app-link>
  </div>
  <div class="p-toolbar-group-right">
    <app-recording
      [text]="textTemplate.recording"
      [isRecording]="(recording$ | async)!"
    ></app-recording>
  </div>
</p-toolbar>
