<ng-container [ngTemplateOutlet]="recording ? stop : start"></ng-container>

<ng-template #start>
  <p-button ngClass="app-actions-record__button" (onClick)="record(false)">
    <ng-template pTemplate="content">
      <i class="pi pi-play app-actions-record__icon"></i>
      {{ startRecordingText }}
    </ng-template>
  </p-button>
</ng-template>
<ng-template #stop>
  <p-button ngClass="app-actions-record__button" (onClick)="record(true)">
    <ng-template pTemplate="content">
      <i class="pi pi-stop app-actions-record__icon"></i>
      {{ stopRecordingText }}
    </ng-template>
  </p-button>
</ng-template>
