<ng-container *ngIf="sentence$ | async as sentence">
  <div>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-copy"
      class="p-button-rounded p-button-info p-button-text"
      title="Copy this sentence"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-volume-up"
      class="p-button-rounded p-button-info p-button-text"
      (click)="onPlayAudio(sentence)"
      (dblclick)="onPlayAudio(sentence)"
      title="Double-click to config"
    ></button>
  </div>
</ng-container>
