::ng-deep.app-home {
  & &__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.customer-badge {
  background-color: rgb(40 41 54);
  color: #ffffff;
  margin: 0.5em 0 0 0;
  border-radius: 2px;
  padding: 0.25em 1em;
  font-weight: 100;
  letter-spacing: 0.3px;

  p {
    margin: 0;
  }
}
