<app-header
  [title]="title"
  [text]="'Recording...'"
  [recording]="(facade.recording$ | async)!"
></app-header>

<app-actions>
  <app-actions-record
    (onRecord)="facade.onRecord($event)"
    [recording]="(facade.recording$ | async)!"
    [startRecordingText]="'Start recording'"
    [stopRecordingText]="'Stop recording'"
  ></app-actions-record>
  <app-actions-refresh
    [text]="'Refresh sentence'"
    (onRefresh)="facade.onRefresh()"
  ></app-actions-refresh>
</app-actions>

<app-splitter>
  <app-splitter-sentence
    [label]="'Read the text below to practice'"
    [sentence]="(facade.sentence$ | async)!"
  ></app-splitter-sentence>
  <app-splitter-speech
    [speechText]="(facade.result$ | async)!"
  ></app-splitter-speech>
  <app-splitter-table [data]="(facade.words$ | async)!"></app-splitter-table>
</app-splitter>

<app-footer [text]="'Made with ♥ Angular'"></app-footer>
