/* You can add global styles to this file, and also import other style files */
@import "assets/theme/default";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-weight: 400;
  color: var(--text-color);
}

p-toolbar .p-toolbar {
  border-radius: 0px;
}

.p-button {
  padding: 0.4rem 0.75rem;
}
